* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: #f7f7f7;
    color: #333;
  }
  
  nav {
    background: #111;
    padding: 15px 0;
  }
  
  .nav-container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    color: white;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  .content {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #ddd;
    margin-top: 40px;
  }
  

  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
  }
  
  .gallery img {
    width: 100%;
    border-radius: 6px;
  }
  